body {
    background-color: darkgray;
}

header {
    background: linear-gradient(green, white);
}

.result-details:hover > .primary {
    background-color:darkblue;
    color:antiquewhite;
}

.result-details:hover > .secondary {
    background-color: white;
    color: red;
}

.primary {
    background-color:cadetblue;
}

.secondary {
    background-color: red;
    color: white;
}

.result-details {
    border: 1px solid black;
    padding: 3px;
    border-spacing: 4px;
}
#current-temp {
    border: 1px solid black;
    background-color: skyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#current-city {
    font-weight: bolder;
    font-size: 150%
}

#temps {

}

#climate {

}

#future-temp {
    border: 1px solid blue;

}

.forecastBox {
    border: 1px dashed yellow;
    background-color: grey;
}